.drawing-area {
  position: absolute;
  width: 600px;
  height: 600px;

  border: 1px solid black;
}

.drawing-container {
  width: 600px;
  height: 600px;
}

#game {
  width: 600px;
  height: 576px;

  border: 1px solid black;
}
